#navbar{
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar h1{
    color: #ffffff;
    margin-left: 1.5%;
    font-size: 1.7em;
    font-weight: 800;
}

.nav-opt{
    display: flex;
    gap: 1.8em;
    margin-right: 2%;
    justify-content: center;
    align-items: center;
}

.nav-opt-icon{
    font-size: 1.6em;
    color: #ffffff;
    cursor: pointer;
}

/* Nav Search Bar */

#navSearchBar{
    height: 45px;
    border-radius: 5px;
    background-color: #ffffff;
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navSearchBar input{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0 5px;
}

.navSearchIcon{
    margin-right: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

.accountOption{
    width: 200px;
    padding: 10px;
    background-color: white;
    position: absolute;
    right: 5px;
    top: 20px;
    box-shadow: 2px 2px 12px #888888;
}

.cplink{
    text-decoration: none;
    font-weight: 500;
}


.accountOption input{
    padding-left: 5px;
    width: 96%;
    margin-top: 10px;
    height: 25px;
    outline: none;
    border: 1px solid #232323;
    border-radius: 3px;
}

.accountOption .buttonFlex{
    display: flex;
    justify-content: space-around;
    gap: 1em;
}

.accountOption button{
    margin-top: 10px;
    height: 30px;
    cursor: pointer;
    flex: 1;
    border: none;
    border-radius: 3px;
    color: #ffffff
}