#shopSection{
    display: flex;
}

#shopSection .sideBar{
    width: 300px;
    min-height: calc(100vh - 70px);
    border-right: 1px solid #b7b7b7;
}

#shopSection .productsBar{
    flex: 1;
    padding: 1%;
}

.shopTitle{
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 20px;
}